[package]
name = "egui_dock"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
egui = "*"

[dev-dependencies]
eframe = "0.18"