name: tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: -D warnings
  RUSTDOCFLAGS: -D warnings

jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: test
        run: cargo test --verbose -- --test-threads=1
        continue-on-error: false

      - name: miri
        run: |
          rustup toolchain install nightly --component miri
          rustup override set nightly
          cargo miri setup
          cargo miri test
        continue-on-error: false

  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: test
        run: cargo test --verbose -- --test-threads=1
        continue-on-error: false

      - name: Test doc-tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --doc --all-features

      - name: miri
        run: |
          rustup toolchain install nightly --component miri
          rustup override set nightly
          cargo miri setup
          cargo miri test
        continue-on-error: false

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: test
        run: cargo test --verbose -- --test-threads=1
        continue-on-error: false

      - name: miri
        run: |
          rustup toolchain install nightly --component miri
          rustup override set nightly
          cargo miri setup
          cargo miri test
        continue-on-error: false
